<h1>Edit Flashcard</h1>

<%= simple_form_for @flashcard do |f| %>
  <%= f.input :question %>
  <%= f.input :answer %>

  <%= f.submit "Update Flashcard", class: "btn btn-success" %>
<% end %>

<br>

<%= link_to "Back", flashcard_path(@flashcard) %>
