<h1>New Flashcard</h1>

<%= simple_form_for @flashcard do |f| %>
  <%= f.input :question %>
  <%= f.input :answer %>

  <%= f.submit "Create Flashcard", class: "btn btn-primary" %>
<% end %>

<br>

<%= link_to "Back", flashcards_path %>
