<div class='main-container'>
<%= link_to chats_path do %>
  <i class="fa-solid fa-chevron-left"></i>
<% end %>
<h1><%= @chat.title %></h1>

<%= simple_form_for [@chat, @message] do |f| %>
  <%= f.input :content, placeholder: "Ask anything", required: true, label: false %>
  <%= f.button :submit, "Submit", class: "btn btn-primary" %>
<% end %>
</div>
